@import url(reset.css);


/* -- Типи селекторів -- */

/* ----- задання кольору через селектор зірочка, це найнижчий пріоритет ----- */
* {
  color: #171717;
}

/* ----- задання кольору селекторам тегу h1,h2,h3 ----- */
h1,h2,h3 {
  color: blue;
}

/* ----- задання кольору через селектор ID ----- */
#orange-title {
  color: orange;
}

/* ----- задання кольору через селектор атрибуту ----- */
[class*="tem"] {
  color: crimson;
  cursor: pointer;
}

/* ----- задання кольору через селектор класу ----- */
.text-6 {
  color: crimson;
}



/* -- КОМБІНАЦІЇ СЕЛЕКТОРІВ -- */

/* ----- звернення до всіх span з класом mark ----- */
span.mark {
  color: rgb(223, 198, 59);
}

/* ----- звернення зразу до кількох класів ----- */
.text-6,
.text-7,
.list__item-7 {
  color: teal; 
}

/* -- КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ -- */

/* ----- звернення до всіх тегів h2 з класом block-1 ----- */
.block-1 h2 {
  color: rgb(215, 34, 235);
}

/* ----- звернення до усіх об'єктів з класом .text-5 всередині об'єктів з класом .text-container-5 ----- */
.text-container-5 .text-5 {
  color: hotpink;
}

/* ----- звернення до всіх об'єктів всередині класу .text-container-2 ----- */
.text-container-2 *{
  color: chocolate;
}

/* ----- звернення до всіх тегів P першого рівня всередині об'єктів з класом .text-container-1 ----- */
.text-container-1 > p {
  color: rgb(17, 10, 210);
}

/* ----- звернення до усіх тегів P які знаходяться далі по коду після об'єктів з класом .block-6 та мають той самий рівень вкладеності ----- */
.block-6 ~ p {
  color: peru;
}
/* ----- звернення тегу P який знаходяться безпосередньо далі по коду після об'єктів з класом .text-4 та має той самий рівень вкладеності ----- */
.text-4 + p {
  color: rgb(211, 48, 15);
}



/* ----- ПРІОРІТЕТИ ----- */

/* Більший пріоритет буде у класів .block-6 .text-6 бо вони звужують, уточнюють пошук.
Але він не спрацює, бо в html, біля класу .text-6 вказано атрибут style і він має самий високий пріорітет, тому працювати буде саме він */

/* задаємо колір */
.text-6 {
  color: crimson;
}
/* Цей селектор має більший пріорітет за попередній бо він нижчий по коду*/
[class*="xt-6"] {
  color: darkgoldenrod;
}
/* Тут пріорітет буде більший бо звужує, уточнює пошук */
.block-6 .text-6 {
  color: black;
}



.web-img {
  width: 500px;
}